{% extends 'tienda/base.html' %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">Confirmar Eliminación</div>
        <div class="card-body">
            <h5 class="card-title">Eliminar Producto</h5>
            <p class="card-text">¿Estás seguro de que quieres eliminar "{{ object.nombre }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a href="{% url 'tienda:lista_productos' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}