{% extends 'tienda/base.html' %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Evaluación de Módulo 7</h1>
            <p class="col-md-8 fs-4">Bienvenidos al sistema de gestión de productos. Utiliza la navegación para empezar.</p>
            <hr class="my-4">
            <p>O accede directamente a una de las secciones:</p>
            <a class="btn btn-primary btn-lg" href="{% url 'tienda:lista_productos' %}" role="button">Ver Productos</a>
            <a class="btn btn-secondary btn-lg" href="{% url 'tienda:lista_categorias' %}" role="button">Ver Categorías</a>
            <a class="btn btn-info btn-lg" href="{% url 'tienda:lista_etiquetas' %}" role="button">Ver Etiquetas</a>
        </div>
    </div>
{% endblock %}